@CHARSET "US-ASCII";
p.nums-lg {
	font-size: 24;
}

.rcorners2 {
    float: left;
    margin: auto;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px 0px 0px 30px;
    width: 100px;
    height: 100px;
    font-size: 400%;   
}
